{% extends 'base.html' %}
{% block title %}
  <title>Tags | Page {{ page_obj.number }}</title>
{% endblock title %}
{% block content %}
  <div class="mt-7"></div>
<div class="container mt-2 d-flex justify-content-between align-items-center">
  <h1>Tags list</h1>
  <form method="get" action="{% url 'to_do_list_app:tag-create' %}" class="mb-3">
    <div class="input-group">
      <a href='{% url 'to_do_list_app:tag-create' %}' class="btn btn-success">Add tag</a>
    </div>
  </form>
</div>
  {% if tag_list %}
    <div class="row mb-2">
      {% for tag in tag_list %}
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ tag.name }}</h3>
              <br>
              <a href="{% url 'to_do_list_app:tag-detail' tag.pk %}" class="btn btn-outline-dark mb-0 btn-block">
                Tag detail
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if page_obj.has_other_pages %}
      {% include 'includes/pagination.html' with page_obj=page_obj %}
    {% endif %}
  {% else %}
    <div class="container">
      <p>No tags found.</p>
    </div>
  {% endif %}
{% endblock content %}
